.d-flex {
  width: 554px;
  height: 322.53px;
  img{
    width: 96px;
    height: 95.56px;
    position: absolute;
    left: 80px;
  }
  h4{
    font-size: 16px;
    line-height: 32px;
  }
  span{
    color: #7D7D7D;
    font-size: 16px;
    line-height: 32px;
    position: absolute;
    top: 25px;
  }
  p{
    margin-top: 50px;
  }
  ul{
    list-style: none;
    display: flex;
    position: absolute;
    left: -25px;
  }

}
@media (max-width: 575.98px) {
  .d-flex {
    height: 370px;
    width: 320px;
    img{
      position: absolute;
      left: 10px;
      top: 20px;
    }
  }
}
@media (max-width: 768px) {
  .d-flex {
    height: 370px;
    width: 320px;
    img{
      position: absolute;
      left: 0px;
    }
  }
}
@media only screen  and (min-width: 769px)
and (max-width: 1024px)  {
  .d-flex {
    width: 345px;
    height: 232px;
    img{
      position: absolute;
      left: 0px;
    }
    h4{
      font-size: 12px;
      line-height: 32px;
    }
    span {
      font-size: 12px;
    }
    p {
      font-size: 11px;
      width: 200px;
    }
  }
  .highlight{
    box-shadow: 0px 0px 0px white;
    border-radius: 0px;
  }
}
.highlight{
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
