<div class="result">
  <div class="container">
      <h2>Stunning Results</h2>
      <span>Just look to the statistics we have generate the past year.</span>
      <div class="row rt-container">
        <div *ngFor="let item of dataStunning" class="col-xl-4 col-md-4 col-12">
            <div id='circle' class="{{item.class}}">
              <div class="overlay">{{item.number}},{{item.float}}</div>
            </div>
          <div class='value '>
            <h3>
              {{item.title}}
            </h3>
            <p>
              {{item.value}}
            </p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="saying">
  <app-carousel></app-carousel>
  <div class="mobile">
    <h2>What Clients are saying</h2>
    <p>Businesses at present had creatively generated effective advertising campaigns
      in the form of audio visual media that includes the television and radios
       and the print media that cover the newspaper and campaign materials like the posters,
      brochures, business cards, flyers and many more.</p>
    <div class="d-flex">
      <img src="/assets/img/person.png" alt="" srcset="">
      <div class="">
        <p>Ophelia Holland<br/><span>@ophelia_holland</span></p>
      </div>
    </div>
  </div>
</div>

<div class="product">
  <h2>Recent Products</h2>
  <p>Having used discount toner cartridges for twenty years,
     there have been a lot of<br/> changes in the toner cartridge market
     . The market today is approximately a<br/> twenty billion dollar business.</p>
  <div class="container">
    <div class="row">
        <app-labels *ngFor="let item of dataProduct" class='col-xl-3 col-md-3 col-12'
          src='{{item.img}}'
          name= '{{item.name}}'
          address= '{{item.address}}'
          seen= '{{item.seen}}'
          share= '{{item.share}}'
        ></app-labels>
    </div>
  </div>
</div>

<div class="selling">
  <div class="container">
      <h2>Start Selling Instantly</h2>
      <p>Start Selling With Your Pre-paid account.<br/> No deposit needed.</p>
      <form action="">
        <input type="text" placeholder="Email">
        <button>REGISTER</button>
      </form>
  </div>
</div>

<div class="people">
    <h2>What People Say</h2>
    <div class="container">
      <div class="row">
        <div *ngFor="let item of dataPeople" class="col-xl-6 col-md-6 col-12">
          <div [className]='item.position==="left"?"content-gold":"content-black"'>
            <h1>"</h1>
            <p>{{item.content}}</p>
            <h4>{{item.name}}</h4>
            <span>{{item.job}}</span>
            <img src="{{item.avatar}}" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
</div>

<div class="subscribing">
  <h2>Subscribing Plans</h2>
  <div class="container">
   <div class="row">
    <app-card *ngFor="let item of dataSub" class="col-xl-3 col-md-3 col-6"
    title='{{item.name}}'
    price='{{item.price}}'
    url='{{item.url}}'
    list='{{item.list.join("*")}}'
    ></app-card>
   </div>
  </div>
</div>
<div class="touch">
  <h2>Get in Touch</h2>
  <form action="">
    <input class='name' type='text' placeholder="Name*">
    <input class='email' type='text' placeholder="Email*">
    <input class='msg' type='text' placeholder="Message">
    <label class="myCheckbox"><input class='cb' type='checkbox' name='test'><span class="checkmark"></span>Most Urgent Question</label>
    <button>SUBMIT</button>
  </form>
  <div class="container">
      <ul>
          <li><i class="fas fa-map-marker-alt mr-2"></i>2300 W Arbutus Dr Citrus Springs, FL 34434, USA</li>
          <li><i class="far fa-envelope mr-2" ></i>contact@hofmannui.net</li>
          <li><i class="fas fa-phone-alt mr-2"></i>952-775-6021</li>
        </ul>
  </div>
</div>

