ul {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  margin-right: 40px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
.deal {
  font-size: 64px;
  line-height: 48px;
  margin-top: 30px;
  span{
    font-size: 24px;
    position: relative;
    bottom: 20px;
    right: 10px;
  }
}
button {
  width: 198px;
  height: 48px;
  border-radius: 5em / 5em;
  font-size: 16px;
  line-height: 19px;
  margin-top: 20px;
}
.year {

}
.silver {
  text-align: center;
  width: 270px;
  height: 396px;
  background-color: black;
  background-image: linear-gradient(234.86deg, rgba(255, 255, 255, 0.7) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
  color: white;
  padding-top: 40px;
  border: 2px #F6F6F6 solid ;
  border-radius: 0.7em;
  h3 {
    color: #EBCB80;
  }
  button{
    border: 2px #EBCB80 solid;
    background: #EBCB80;
  }
}
.gold {
  text-align: center;
  width: 270px;
  height: 396px;
  background-color:#EBCB80;
  background-blend-mode: soft-light;
  color: black;
  padding-top: 40px;
  border: 2px #F6F6F6 solid ;
  border-radius: 0.7em;
  h3 {
    color:  #4B4B4B;
  }
  button{
    border: 2px  #4B4B4B solid;
    background: #4B4B4B;
    color: white;
  }
}
.plantium {
  text-align: center;
  width: 270px;
  height: 396px;
  background-color: black;
  background-blend-mode: multiply;
  color:white;
  padding-top: 40px;
  border: 2px #F6F6F6 solid ;
  border-radius: 0.7em;
  h3 {
    color: #EBCB80;
  }
  button{
    border: 2px #EBCB80 solid;
    background: #EBCB80;
  }
}
@media (max-width: 575.98px) {
  ul {
    font-size: 11px;
    position: relative;
    bottom:30px;
  }
  h3 {
    font-size: 12px;
  }
  .deal {
    font-size: 36px;
    margin-top: 0px;
    span{
      font-size: 11px;
    }
  }

  .year {
    position: relative;
    bottom: 30px;
  }
  button {
    width: 140px;
    height: 32px;
    margin-top: 0px;
    position: relative;
    bottom:30px;
  }
  .silver {
    width: 160px;
    height: 248px;
    padding-top: 0px;
    position: relative;
    z-index: 2;
    bottom: 10px;
    left: 15px;
    button {
      display: none;
    }
  }
  .gold {
    width: 190.5px;
    height: 248px;
    padding-top: 0px;
    position: relative;
    z-index: 3;
  }
  .plantium {
    width: 140px;
    height: 248px;
    padding-top: 0px;
    position: relative;
    z-index: 1;
    bottom: 20px;
    left: 25px;
    button {
      display: none;
    }
  }
}
@media only screen  and (min-width: 768px)
and (max-width: 1024px)  {
  h3 {
    font-size: 12px;
  }
  ul {
    font-size: 11px;
  }
  .deal {
    font-size: 36px;
    span {
      font-size: 11px;
    }
  }
  button {
    width: 120px;
    height: 40px;
    margin-top: 0px;
  }
  .silver {
    width: 170px;
  }
  .gold {
    width: 170px;
  }
  .plantium {
    width: 170px;
  }
}
