footer {
  background: #4B4B4B;
  color: white;
  height: 466px;
  padding-top: 40px;
  h3 {
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: white;
    border-bottom: 2px  #7D7D7D solid;
  }
  ul {
    margin-top: 20px;
    position: absolute;
    left: -24px;
    li {
      color: white;
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  .end {
    margin-top: 260px;
    padding-top: 30px;
    border-top: 2px  #7D7D7D solid;
    p{
      color: white;
    }
    .contact {
      ul {
        position: relative;
        left: 35%;
        bottom: 4%;
        li {
          i {
            color: #EBCB80;
          }
        }
      }
    }

  }
}

@media (max-width: 575.98px) {
  footer {
    height: 568px;
    .col-6{
      height: 180px;
    }
    h3 {
      width: 115px;
      height: 27px;
      font-size: 12px;
    }
    ul {
      margin-top: 0px;
      position: absolute;
      left: -24px;
      li {
        color: white;
        font-size: 11px;
        margin-bottom: 7px;
      }
    }
    .end {
      margin-top: 30px;
      .contact {
        ul {
          position: relative;
          left: 3%;
          bottom: 4%;
          li {
            i {
              color: #EBCB80;
            }
          }
        }
      }
    }
  }

}
