header {
  background: url("/assets/img/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 768px;
  width: 100%;
  .container {
    .header_top {
      img {
        width: 40px;
        height: 43px;
        margin-top: 27px;
      }
    }
    i{
      color: white;
      margin-right: 19px;
      margin-top: 37px;
    }
    select{
      border-radius: 2em;
      background: black;
      color: white;
      width: 69px;
      height: 36px;
      padding-left: 15px;
      option{
        text-align: center;
      }
    }
    ul {
      display: flex;
      align-items: center;
      margin-top: 35px;
      li{
        margin-right: 60px;
        a{
          font-size: 18px;
          line-height: 21px;
          color: white;
        }
      }
    }
    .info {
      color: white;
      padding-left: 100px ;
      .title {
        margin-top: 100px;
        margin-bottom: 130px;
        color: white;
      }
      .intro {
        h2 {
          font-size: 64px;
          color: #EBCB80;
          margin-bottom: 30px;
          margin-left: 20px;
        }
        span {
          font-size: 24px;
          color: white;
        }
        p{
          font-size: 16px;
          margin-top: 20px;
          width: 459px;
          color: white;
        }
      }
      .down{
        margin-top: 80px;
        a{
          margin-right: 30px;
        }
        .phone {
          display: none;
        }
      }
    }
    .banner {
          margin-top: 12.5%;
          text-align: center;
    }
  }
}
