@media (max-width: 575.98px) {
  header {
    height: 540px;
    width: 100%;
    .container{
      .nav {
        display: none;
      }
      .icon {
        position: absolute;
        left: 100px;
        top: -20px;
        i{
          width: 19.62px;
          height: 15.94px;
        }
      }
      .information {
        .title {
          font-size: 20px;
          height: 72px;
        }
        iframe {
          width: 239.78px;
          height: 140px;
        }
      }
      .mennu{
        .dropdown {
          display: inline-block;
          position: absolute;
          top: 60px;
          left: 270px;
          .dr_icon {
           i {
            width: 16px;
            height: 14px;
           }
          }
          .dr_content {
            ul {
              list-style: none;
              background-color: white;
              padding-left: 0;
              display :none;
              li{
                text-align: center;
                border-bottom: 1px black solid;
                width: 100%;
                color: #EBCB80;
              }
            }
          }
        }
      }

    }
  }
}
@media (max-width: 575.98px) {
  .features {
    .banner {
      width: 290px;
      height: 168.32px;
      position: relative;
      top:100px;
      left: 25px;
    }
  }
}
@media (max-width: 575.98px) {
  .testimonials {
    margin-top: 250px;
    .banner {
      height: 311px;
      padding-top:50px;
      background-position: center;
      h2 {
        font-size: 20px;
        line-height: 40px;
      }
      p {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 20px;
        margin-left: 17%;
        width: 240px;
        height: 64px;
      }
      button {
        width: 140px;
        height: 32px;
        font-size: 11px;
      }
    }
    .comment {
      h2 {
        font-size: 20px;
        line-height: 40px;
      }
      .container {
        display: grid;
        grid-template-columns: 200px;
      }
    }
  }
}
@media (max-width: 575.98px) {
  .plan {
   height: 480px;
   padding-top: 10px;
    h2 {
     font-size: 20px;
    }
   .container {
     padding-left: 0px;
     app-plan {
       position: absolute;
       left: 20%;
     }
     .mobile {
       display: block;
       ul {
         margin-left: 20%;
         margin-top: 280px;
         li {
           margin-right: 20px;
         }
         .choose {
             border: 2px #EBCB80 solid;
             background: #EBCB80;
             border-radius: 1em;
             width: 50px;
             height: 24px;
             text-align: center;
         }
       }
     }
   }
  }
 }
 @media (max-width: 575.98px) {
  .Portfolio {
    h2 {
      font-size: 20px;
    }
    .mb {
      display: inline-block;
    }
    .c1 {
      display: none;
    }
    .first {
      .mb {
        background-image: url('/assets/img/project-card (3).png');
      }
    }
    .second {
      .col-6{
        background-image: url('/assets/img/project-card copy (1).png');
      }
      .mb {
        background-image: url('/assets/img/project-card copy.png');
      }
      .col-12 {
        background-image: url('/assets/img/project-card (2).png');
      }
    }
  }
}
@media (max-width: 575.98px) {
  .introduce {
    .value{
      position: absolute;
      left: 40px;
      margin-top: 50px;
      h2 {
        font-size: 24px;
      }
      span{
        font-size: 12px;
      }
      p {
        font-size: 11px;
        width: 240px;
      }
    }
    ul{
       position: inherit;
       display: flex;
    }
  }
}
@media (max-width: 575.98px) {
  .stay_touch {
    height: 400px;
    padding-top:30px;
    h2 {
      font-size: 20px;
    }
    .mb {
      display: none;
    }
    .connet{
      padding-top: 0;
      padding-left:40px;
        ul {
          position: absolute;
          right: 15%;
        }
    }
  }
  .map {
    margin-top: 150px;
    ngui-map{
      height: 250px;
    }
  }
}
