<form class="example-form">
  <div class="d-flex">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name*">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email*">
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <div class="d-flex area">
        <label>Message*</label>
        <textarea matInput ></textarea>
    </div>
  </mat-form-field>
  <button>SUBMIT</button>
</form>

