<footer>
  <div class="container">
    <div class="row">
        <div class="col-xl-4 col-md-4">
          <h2>HOFMANN</h2>
          <p>Hoffman UI Kit was made to help you quickly create beautiful layouts of responsive websites.</p>
          <span>© 2016 Created by Goldenfox</span>
          <strong>SUBSCRIBE TO OUR NEWS</strong>
          <div class="d-flex">
            <input type="text" placeholder="Your Email">
            <button><i class="fas fa-angle-right "></i></button>
          </div>
        </div>
        <div class="col-xl-8 col-md-8">
          <div class="row">
            <div class="col-4">
              <ul>
                <li>About Us</li>
                <li>Explore</li>
                <li>Contact</li>
              </ul>
            </div>
            <div class="col-4">
              <ul>
                <li>Testimonials</li>
                <li>Blog</li>
                <li>News</li>
              </ul>
            </div>
            <div class="col-4">
              <ul>
                <li>Documentation</li>
                <li>Help</li>
                <li>Privacy</li>
              </ul>
            </div>
          </div>
         <div class="follow">
          <h4>FOLLOW US</h4>
          <ul class='d-flex'>
            <li><i class="fab fa-pinterest fa-2x mr-4"></i></li>
            <li><i class="fab fa-invision fa-2x mr-4"></i></li>
            <li><i class="fab fa-google-plus-g fa-2x mr-4"></i></li>
            <li><i class="fab fa-twitter fa-2x mr-4"></i></li>
            <li><i class="fab fa-facebook-square fa-2x mr-4"></i></li>
            <li><i class="fab fa-instagram fa-2x mr-4"></i></li>
          </ul>
        </div>
        </div>

    </div>
  </div>
</footer>
