<footer>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-md-3 col-6">
        <h3>COMPANY</h3>
        <ul>
          <li>News</li>
          <li>Blog</li>
          <li>Testimonials</li>
          <li>About Us</li>
          <li>Press Kit</li>
          <li>Get in Touch</li>
        </ul>
      </div>
      <div class="col-xl-3 col-md-3 col-6">
        <h3>PRODUCTS</h3>
        <ul>
          <li>UI Kits</li>
          <li>Icons</li>
          <li>Wordpress  Themes</li>
          <li>Mock-Ups</li>
        </ul>
      </div>
      <div class="col-xl-3 col-md-3 col-6">
          <h3>SUPPORT</h3>
          <ul>
            <li>Community</li>
            <li>Forum</li>
            <li>Distributors</li>
            <li>Privacy Policy</li>
            <li>Terms of Use</li>
          </ul>
      </div>
      <div class="col-xl-3  col-md-3 col-6">
          <h3>CUSTOMERS</h3>
          <ul>
            <li>Documentation</li>
            <li>Tools</li>
            <li>Downloads</li>
            <li>Developer Center</li>
          </ul>
      </div>
    </div>
      <div class="row end">
          <div class="col-xl-6">
              <p>© 2016 Hofmann UI Kit<br/>Created by Goldenfox — okodesign.net</p>
          </div>
          <div class="col-xl-6 contact">
              <ul class='d-flex'>
                  <li><i class="fab fa-pinterest fa-2x mr-4"></i></li>
                  <li><i class="fab fa-invision fa-2x mr-4"></i></li>
                  <li><i class="fab fa-google-plus-g fa-2x mr-4"></i></li>
                  <li><i class="fab fa-twitter fa-2x mr-4"></i></li>
                  <li><i class="fab fa-facebook-square fa-2x mr-4"></i></li>
                  <li><i class="fab fa-instagram fa-2x mr-4"></i></li>
                </ul>
          </div>
      </div>
    </div>
</footer>
